.container {
  height: 100vh;
  width: 100%;
  background-color: #000303;
}

.wrapper {
  margin: 0 auto;
  margin-top: 0rem;
  height: 100%;
  width: 80%;
  padding-top: 6rem;
}

.titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  color: rgb(211, 205, 205);
  font-size: 20px;
  font-weight: 300;
}

.title {
  color: #efefeff5;
  font-weight: bold;
  font-size: 56px;
}

.sides {
  margin-top: 9rem;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.cards > div {
  flex: 25%;
}

.card {
  border: 1px solid #fff;
  padding: 1.5rem;
  height: 7rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-left: 2rem;
  max-width: 25rem;
}

.card > span {
  text-align: center;
  color: #cec2c2;
  font-size: 19px;
}

.card:hover {
  background-color: #fff;
  color: #000303;
  border-color: #000303;
}

.card:hover > span {
  color: #000303;
}

