.container{
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 1px -1px 34px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px -1px 34px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px -1px 34px 3px rgba(0,0,0,0.1);
}

.wrapper{
    width: 85%;
    margin: 0 auto;
    padding: 0.75rem 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left > h2{
    font-size: 28px;
    font-weight: 600;
    color: #000303;
    cursor: pointer;
}

.right > .list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.listItem{
    font-size: 18px;
    font-weight: 500;
}

.listItem > a{
    text-decoration: none;
    color: inherit;
    transition: 150ms all;
}

.listItem > a:hover{
    color: #0a1acf;
    
}



